<!-- Revenue Card -->
<div class="card">
    <h2>Revenue</h2>
    <div class="row">
        <div class="col">
            <label>Last 3 year average</label>
            <input type="number" [(ngModel)]="revenueMostRecentAvg"/>
        </div>
        <div class="col">
            <label>First 3 year average</label>
            <input type="number" [(ngModel)]="revenueLeastRecentAvg"/>
        </div>
        <div class="col">
            <label>Growth period in years</label>
            <input type="number" [(ngModel)]="revenueYears"/>
        </div>
    </div>
</div>

<!-- Net Profit Card -->
<div class="card">
    <h2>Net Profit</h2>
    <div class="row">
        <div class="col">
            <label>Last 3 year average</label>
            <input type="number" [(ngModel)]="netProfitAverage"/>
        </div>
    </div>
</div>

<!-- Capital Expenditure Card -->
<div class="card">
    <h2>Capital Expenditure</h2>
    <div class="row">
        <div class="col">
            <label>Last 3 year average</label>
            <input type="number" [(ngModel)]="capExAverage"/>
        </div>
    </div>
</div>

<!-- Non-Cash Expenditure Card -->
<div class="card">
    <h2>Non-Cash Expenditure</h2>
    <div class="row">
        <div class="col">
            <label>Last 3 year average</label>
            <input type="number" [(ngModel)]="nonCashExAverage"/>
        </div>
    </div>
</div>

<div class="card">
    <h2>Final step: Fair value of stock</h2>
    <div class="row">
        <div class="col">
            <label>Discount rate %</label>
            <input type="number" [(ngModel)]="discountRate"/>
        </div>
        <div class="col">
            <label>Terminal growth rate %</label>
            <input type="number" [(ngModel)]="terminalGrowthRate"/>
        </div>
        <div class="col">
            <label>Current Market value</label>
            <input type="number" [(ngModel)]="marketValue"/>
        </div>
        <div class="col">
            <label>Current price</label>
            <input type="number" [(ngModel)]="currentPrice"/>
        </div>
    </div>

    <div class="row">
        <div class="col button-container">
            <button class="btn" (click)="calculateIntrinsicValue()">Calculate</button>
        </div>
    </div>

    <div class="note small">Growth rate: {{this.growthRate}}%,  profit margin: {{this.profitMargin}}%, total no of shares: {{this.totalNoOfShares}}.</div>
</div>

<div class="card" *ngIf="projections.length > 0">
    <h2>Owner earning projections</h2>
    <div class="table-container">
        <table class="projections-table">
            <thead>
            <tr>
                <th>Year</th>
                <th>Revenue (M)</th>
                <th>Net Profit (M)</th>
                <th>CapEx (M)</th>
                <th>Non-Cash Ex (M)</th>
                <th>Free Cash Flow (M)</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projection of projections">
                <td>{{ projection.year }}</td>
                <td>{{ projection.revenue }}</td>
                <td>{{ projection.netProfit }}</td>
                <td>{{ projection.capEx }}</td>
                <td>{{ projection.nonCashEx }}</td>
                <td>{{ projection.ownerEarning }}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="result-section" *ngIf="intrinsicValuePerShare">
        <div class="row">
            <div class="col">
                <strong>Intrinsic Value Per Share: {{ intrinsicValuePerShare }}</strong>
                <p class="description">
                    The intrinsic value per share is calculated based on the projected free cash flows, discount rate, terminal growth rate, and total number of shares.
                </p>
            </div>
        </div>
    </div>
</div>